*{
    box-sizing: border-box;
}
.site-header {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 400;
}
.site-nav{
    font-family: ff-info-text-web-pro,sans-serif;
    text-align: center;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: black;
    margin: 30px;
}
a:hover{
    color: red;
}
.web-image img{
width: 1600px;
height: 760px;
background-size: 100%;
margin-left: -10px;
}
.text{
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-family: monospace;
}